<div class="user {{className}}">
  <div class="user__icon">{{avatar}}</div>
  <div class="user__text">
    <strong>{{name}}</strong>
    <span class="user-chat__time">{{date}}</span>
    <p>{{text}}</p>
  </div>
</div>
