<div class="chat">
  <div class="chat__wrapper">
    <div class="chat__dialogs">
      {{{linkToProfile}}}
      <div class="search">
        <input placeholder="Поиск" type="text" />
        <button class="search__btn"> </button>
      </div>
      {{{usersDialogs}}}
    </div>
    <div class="chat__inner">
      <div class="chat__top">
        {{{user}}}
        {{{settings}}}
      </div>
      {{{myMessages}}}
    </div>
  </div>
</div>
