<div>
  <div class="back-area">
    <div onclick="history.back()" class="back-btn"></div>
  </div>
  <div class="profile">
    <div class="profile__wrap">
      <div class="profile__avatar">
        <div class="avatar-wrap">
            <img src="{{{defaultAvatar}}}" alt="avatar" />
            {{{inputAvatar}}}
        </div>
      </div>
      <div class="profile__name">Ivan</div>
      <ul class="profile__info">

        <li class="profile__el">
          {{{inputLogin}}}
          <div class="error"></div>
        </li>
        <li class="profile__el">
          {{{inputFirstName}}}
          <div class="error"></div>
        </li>
        <li class="profile__el">
          {{{inputSecondName}}}
          <div class="error"></div>
        </li>
        <li class="profile__el">
          {{{inputPhone}}}
          <div class="error"></div>
        </li>
        <li class="profile__el">
          {{{inputEmail}}}
          <div class="error"></div>
        </li>
        <li class="profile__el">
          {{{inputPassword}}}
          <div class="error"></div>
        </li>
        <li class="profile__el">
          {{{inputRepeatPassword}}}
          <div class="error"></div>
        </li>

      </ul>
      <div class="profile__func">
        {{{changeData}}}
        {{{exitProfile}}}
      </div>
    </div>
  </div>
</div>
